In [2]:
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
import itertools

from sklearn.metrics.pairwise import cosine_similarity

import pickle

In [10]:
movies = pd.read_csv('/content/drive/MyDrive/Final_project/Bot_google_colab/movies_df_eddited_1995')

In [11]:
movies

,movieId,title,genres,Year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
...,...,...,...,...
36980,209155,Santosh Subramaniam (2008),Action|Comedy|Romance,2008
36981,209157,We (2018),Drama,2018
36982,209159,Window of the Soul (2001),Documentary,2001
36983,209163,Bad Poems (2018),Comedy|Drama,2018
36984,209169,A Girl Thing (2001),(no genres listed),2001

In [ ]:
# векторизируем данные
tf = TfidfVectorizer(analyzer=lambda s: (c for i in range(1,3)
                                             for c in itertools.combinations(s.split('|'), r=i)))
tfidf_matrix = tf.fit_transform(movies['genres'])
tfidf_matrix.shape

(36985, 186)

In [ ]:
# считаем близость фильмов
cosine_sim = cosine_similarity(tfidf_matrix)

In [ ]:
cosine_sim_df = pd.DataFrame(cosine_sim, index=movies['movieId'], columns=movies['movieId'])
print('Shape:', cosine_sim_df.shape)
cosine_sim_df

Shape: (36985, 36985)

movieId,1,2,3,4,5,6,7,8,9,10,...,209133,209143,209145,209151,209153,209155,209157,209159,209163,209169
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.619344,0.051965,0.037233,0.123869,0.000000,0.051965,0.407354,0.000000,0.077086,...,0.0,0.093147,0.000000,0.0,0.062481,0.028973,0.000000,0.0,0.062481,0.0
2,0.619344,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.657718,0.000000,0.124464,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0
3,0.051965,0.000000,1.000000,0.716498,0.419521,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.211611,0.557546,0.000000,0.0,0.211611,0.0
4,0.037233,0.000000,0.716498,1.000000,0.300586,0.000000,0.716498,0.000000,0.000000,0.000000,...,0.0,0.000000,0.244853,0.0,0.595914,0.399480,0.244853,0.0,0.595914,0.0
5,0.123869,0.000000,0.419521,0.300586,1.000000,0.000000,0.419521,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.504411,0.233902,0.000000,0.0,0.504411,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209155,0.028973,0.000000,0.557546,0.399480,0.233902,0.104698,0.557546,0.000000,0.316883,0.096199,...,0.0,0.000000,0.000000,0.0,0.117983,1.000000,0.000000,0.0,0.117983,0.0
209157,0.000000,0.000000,0.000000,0.244853,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,1.000000,0.0,0.410886,0.000000,1.000000,0.0,0.410886,0.0
209159,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.320164,0.000000,0.0,0.000000,0.000000,0.000000,1.0,0.000000,0.0
209163,0.062481,0.000000,0.211611,0.595914,0.504411,0.000000,0.211611,0.000000,0.000000,0.000000,...,0.0,0.000000,0.410886,0.0,1.000000,0.117983,0.410886,0.0,1.000000,0.0
209169,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.0,0.000000,1.0

In [ ]:
cosine_sim_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36985 entries, 1 to 209169
Columns: 36985 entries, 1 to 209169
dtypes: float64(36985)
memory usage: 10.2 GB

In [ ]:
#делаем размер меньше
cosine_sim_df2 = cosine_sim_df[:18000].astype('float16')

In [ ]:
cosine_sim_df3 = cosine_sim_df[18000:].astype('float16')

In [ ]:
cosine_sim_df = pd.concat([cosine_sim_df2, cosine_sim_df3])

In [ ]:
# сохраняем в pickle, чтобы подгрузить в бот
with open('/content/drive/MyDrive/Final_project/Bot_google_colab/cosine_sim_df.pickle', 'wb') as f:
  pickle.dump(cosine_sim_df, f)

In [ ]:
# with open('/content/drive/MyDrive/Final_project/Bot_google_colab/cosine_sim_df.pickle', 'rb') as f:
#   cosine_sim_df=pickle.load(f)